@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
html {
  font-size: 10px;
}
@media screen and (max-width: 720px) {
  html {
    font-size: 6px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
}

.container {
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 720px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1190px) {
  .container {
    max-width: 1089px;
  }
}

.block-header, .consult-form-block .header, .faq-block .header, .results-block .header, .mission-block .header, .features-block .header, .problems-block .header, .how-block .instances .header, .how-block .header, .why-block .header, .expect-block .header {
  padding: 15px 0;
  font-weight: 800;
  font-size: 4rem;
  line-height: 50px;
  text-transform: uppercase;
}
@media screen and (max-width: 720px) {
  .block-header, .consult-form-block .header, .faq-block .header, .results-block .header, .mission-block .header, .features-block .header, .problems-block .header, .how-block .instances .header, .how-block .header, .why-block .header, .expect-block .header {
    padding: 0;
    line-height: 25px;
  }
}

.block-subheader, .results-block .subheader, .features-block .subheader, .problems-block .subheader {
  position: relative;
  font-weight: 400;
  font-size: 2.4rem;
  padding-left: 28px;
}
.block-subheader:before, .results-block .subheader:before, .features-block .subheader:before, .problems-block .subheader:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 1px;
  background-color: #FFD200;
}

.nav-header {
  background-color: black;
  color: white;
  height: 131px;
}
@media screen and (max-width: 720px) {
  .nav-header {
    height: 96px;
  }
}
.nav-header .logo-contact {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
@media screen and (max-width: 720px) {
  .nav-header .logo-contact {
    display: none;
  }
}
.nav-header .logo-contact .contact {
  margin-left: auto;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 28px;
  text-align: right;
  margin-right: 13px;
}
.nav-header .logo-contact .call-btn {
  padding: 13px 22px;
  color: #FFD200;
  border: 1px solid #FFD200;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19px;
}
.nav-header .navigation-menu {
  font-size: 1.6rem;
}
@media screen and (max-width: 720px) {
  .nav-header .navigation-menu {
    display: none;
  }
}
.nav-header .navigation-menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-header .navigation-menu ul li {
  padding: 0;
  transition: color 0.7s;
}
.nav-header .navigation-menu ul li:hover {
  color: #FFD200;
  transition: color 0.7s;
}

.intro-block {
  position: relative;
  background: linear-gradient(90deg, black 25%, white 85%);
  height: calc(100vh - 131px);
}
@media screen and (max-width: 720px) {
  .intro-block {
    background: linear-gradient(90deg, black 25%, white 110%);
    height: auto;
  }
}
.intro-block .title {
  padding-top: 157px;
  font-size: 9.6rem;
  font-weight: 900;
  line-height: 90px;
  text-transform: uppercase;
  color: white;
}
@media screen and (max-width: 720px) {
  .intro-block .title {
    padding-top: 41px;
    font-size: 4rem;
    line-height: 25px;
  }
}
.intro-block .title .primary {
  color: #FFD200;
}
.intro-block .subtitle {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 30px;
  color: white;
}
@media screen and (max-width: 720px) {
  .intro-block .subtitle {
    margin-top: 20px;
    line-height: 20px;
  }
}
.intro-block .subtitle ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.intro-block .subtitle ul li {
  color: white;
  transition: color 0.7s;
}
.intro-block .subtitle ul li a {
  text-decoration: none;
  color: inherit;
}
.intro-block .subtitle ul li:hover {
  color: #FFD200;
  transition: color 0.7s;
}
.intro-block .intro_features {
  display: flex;
  width: 526px;
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  .intro-block .intro_features {
    width: auto;
  }
}
.intro-block .intro_features .intro_feature {
  padding: 25px 0;
  color: white;
}
@media screen and (max-width: 720px) {
  .intro-block .intro_features .intro_feature {
    padding: 5px 0 15px 0;
  }
}
.intro-block .intro_features .intro_feature p {
  font-size: 2.4rem;
  font-weight: 700;
}
@media screen and (max-width: 720px) {
  .intro-block .intro_features .intro_feature p {
    line-height: 19px;
  }
}
.intro-block .btn {
  display: inline-block;
  background-color: #FFD200;
  color: black;
  font-weight: 700;
  padding: 15px 10px;
  font-size: 2.4rem;
  text-transform: uppercase;
  width: 526px;
  text-align: center;
}
@media screen and (max-width: 720px) {
  .intro-block .btn {
    width: 100%;
    font-size: 2.6rem;
    padding: 5px 10px;
    line-height: 16px;
    box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
    border-radius: 4px;
    margin-bottom: 35px;
  }
}
.intro-block .scroll-hint {
  position: absolute;
  left: 25px;
  transform: rotateZ(-90deg);
  color: white;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 28px;
  bottom: 320px;
  text-transform: uppercase;
}
@media screen and (max-width: 720px) {
  .intro-block .scroll-hint {
    display: none;
  }
}
.intro-block .scroll-hint:before {
  position: relative;
  content: "";
  width: 54px;
  height: 1px;
  background-color: white;
  display: block;
  top: 15px;
  right: 50%;
}

.expect-block {
  padding-top: 123px;
  padding-bottom: 80px;
}
@media screen and (max-width: 720px) {
  .expect-block {
    padding-top: 25px;
    padding-bottom: 0;
    min-height: 450px;
  }
}
@media screen and (max-width: 720px) {
  .expect-block .header {
    padding: 0;
  }
}
.expect-block ul {
  padding-top: 49px;
  display: flex;
  flex-flow: column;
  gap: 90px;
  list-style: none;
  font-size: 2.4rem;
  line-height: 33px;
}
@media screen and (max-width: 720px) {
  .expect-block ul {
    gap: 10px;
    line-height: 22px;
    padding: 22px;
    padding-top: 0px;
  }
}
.expect-block ul li {
  padding-left: 83px;
  max-width: 370px;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .expect-block ul li {
    padding-left: 7px;
  }
}
.expect-block ul li:before {
  position: absolute;
  background-color: #FFD200;
  border-radius: 50%;
  content: "";
  width: 2.8rem;
  height: 2.8rem;
  left: 0;
}
@media screen and (max-width: 720px) {
  .expect-block ul li:before {
    left: -20px;
  }
}

.why-block {
  padding-top: 32px;
  padding-bottom: 80px;
  background-color: #FFD200;
}
@media screen and (min-width: 540px) {
  .why-block .header br {
    display: none;
  }
}
.why-block .content {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.2rem;
}
@media screen and (max-width: 720px) {
  .why-block .content {
    grid-template-columns: 1fr;
  }
}
.why-block .content .column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 19px;
}
.why-block .content .column .float-card {
  padding: 26px;
  height: 175px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 720px) {
  .why-block .content .column .float-card {
    border-radius: 30px;
  }
}
@media screen and (max-width: 720px) {
  .why-block .content .column .float-card {
    height: auto;
    padding: 20px;
  }
}
.why-block .content .column .float-card .float-card__text {
  font-size: 2rem;
  margin-right: auto;
}
@media screen and (max-width: 720px) {
  .why-block .content .column .float-card .float-card__text {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 140%;
  }
}
.why-block .content .column .float-card .float-card__icon {
  flex: 0 0 75px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin-right: auto;
}
.why-block .content .column .float-card .float-card__icon img {
  width: 100%;
}
.why-block .content .counters {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  flex-flow: row;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
}
@media screen and (max-width: 720px) {
  .why-block .content .counters {
    border-radius: 30px;
  }
}
.why-block .content .column.counters {
  padding: 5.5rem 0 5.5rem 5.5rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 720px) {
  .why-block .content .column.counters {
    padding: 5.5rem 0 5.5rem 3.5rem;
  }
}
.why-block .content .column.counters .spacer {
  flex: 0;
}
@media screen and (max-width: 720px) {
  .why-block .content .column.counters .spacer {
    flex: 1 1 0;
  }
}
@media screen and (max-width: 540px) {
  .why-block .content .column.counters .spacer {
    flex: 0;
  }
}
.why-block .content .column.counters #counters {
  display: flex;
  flex: 3;
  flex-flow: column;
  gap: 20px;
}
.why-block .content .column.counters .counter_num {
  font-weight: 700;
  font-size: 4rem;
  line-height: 46px;
  color: #FFD200;
}
@media screen and (max-width: 720px) {
  .why-block .content .column.counters .counter_num {
    line-height: 28px;
  }
}
.why-block .content .column.counters .counter_desc {
  padding-top: 10px;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 20px;
}

.how-block {
  padding: 45px 0;
  padding-bottom: 100px;
}
@media screen and (max-width: 720px) {
  .how-block {
    padding: 15px 0;
  }
}
.how-block .how-cards {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
@media screen and (max-width: 720px) {
  .how-block .how-cards {
    grid-template-columns: 1fr;
  }
}
.how-block .how-cards .how-card {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 340px;
  height: 340px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 55px 28px 28px 28px;
}
@media screen and (max-width: 720px) {
  .how-block .how-cards .how-card {
    width: auto;
    height: 295px;
  }
}
.how-block .how-cards .how-card .how-card__icon {
  width: 85px;
  height: 85px;
  overflow: hidden;
}
.how-block .how-cards .how-card .how-card__icon img {
  width: 100%;
}
.how-block .how-cards .how-card .how-card__text {
  padding-top: 26px;
  font-size: 2.4rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 28px;
  color: #323232;
}
@media screen and (max-width: 720px) {
  .how-block .how-cards .how-card .how-card__text {
    font-size: 4rem;
  }
}
.how-block .how-cards .how-card .how-card__number {
  font-weight: 500;
  font-size: 1.9rem;
  line-height: 22px;
  color: #FFD200;
  margin-top: auto;
}
@media screen and (max-width: 720px) {
  .how-block .how-cards .how-card .how-card__number {
    font-size: 3.5rem;
  }
}
.how-block .consult-form {
  margin: 115px 0;
  box-shadow: 35px 65px 45px 0 rgba(255, 210, 0, 0.15);
  padding: 37px 49px;
  box-shadow: 35px 65px 45px 0 rgba(255, 210, 0, 0.15);
  background-color: #FFD200;
  border-radius: 16px;
}
@media screen and (max-width: 720px) {
  .how-block .consult-form {
    margin: 40px 0;
  }
}
.how-block .consult-form .consult-form__header {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 35px;
  text-transform: uppercase;
}
@media screen and (max-width: 720px) {
  .how-block .consult-form .consult-form__header {
    font-size: 2.8rem;
    line-height: 1;
    padding: 0 10px;
  }
}
.how-block .consult-form ul {
  font-weight: 500;
  font-size: 2rem;
  line-height: 18px;
  padding-left: 30px;
}
@media screen and (max-width: 720px) {
  .how-block .consult-form ul {
    font-weight: 600;
    font-size: 2.5rem;
    padding-bottom: 60px;
  }
}
.how-block .consult-form ul li {
  padding: 15px 0;
}
@media screen and (max-width: 720px) {
  .how-block .consult-form ul li {
    padding: 5px 0;
  }
}
@media screen and (max-width: 720px) {
  .how-block .consult-form {
    padding: 37px 15px 5px 15px;
  }
}
.how-block .consult-form .consult-form__btn {
  border-radius: 19px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 25px 35px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
}
@media screen and (max-width: 720px) {
  .how-block .consult-form .consult-form__btn {
    font-size: 2.4rem;
    display: block;
    text-align: center;
    padding: 20px 15px;
  }
}
.how-block .instances .instances-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 720px) {
  .how-block .instances .instances-container {
    grid-template-columns: 1fr;
  }
}
.how-block .instances .instances-container .instances-card {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 250px;
  text-align: center;
  color: #555;
  font-size: 2rem;
}
@media screen and (max-width: 720px) {
  .how-block .instances .instances-container .instances-card {
    max-width: none;
    width: 100%;
  }
}

.problems-block {
  padding-top: 67px;
  background-color: black;
  color: white;
}
.problems-block .header {
  max-width: 800px;
}
@media screen and (max-width: 720px) {
  .problems-block .subheader {
    margin-top: 18px;
  }
}
.problems-block .problems-contaner {
  padding-top: 35px;
  padding-bottom: 123px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  gap: 18px;
}
@media screen and (max-width: 720px) {
  .problems-block .problems-contaner {
    grid-template-columns: 1fr;
    padding-bottom: 39px;
  }
}
.problems-block .problems-contaner .problem-flip-card {
  box-sizing: border-box;
}
.problems-block .problems-contaner .problem-flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.problems-block .problems-contaner .problem-flip-card .flip-card-inner {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.problems-block .problems-contaner .problem-flip-card .flip-card-inner .frontside, .problems-block .problems-contaner .problem-flip-card .flip-card-inner .backside {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  padding: 65px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #FEDC67;
  border-radius: 20px;
  font-size: 2.4rem;
  font-weight: 600;
}
@media screen and (max-width: 720px) {
  .problems-block .problems-contaner .problem-flip-card .flip-card-inner .frontside, .problems-block .problems-contaner .problem-flip-card .flip-card-inner .backside {
    padding: 25px;
    font-size: 3rem;
    font-weight: 600;
  }
}
.problems-block .problems-contaner .problem-flip-card .flip-card-inner .frontside {
  color: #555;
  background-color: white;
}
.problems-block .problems-contaner .problem-flip-card .flip-card-inner .backside {
  color: #555;
  background-color: #FFD200;
  transform: rotateY(180deg);
}

.features-block {
  padding-top: 85px;
}
@media screen and (max-width: 720px) {
  .features-block {
    padding-top: 20px;
  }
}
.features-block .subheader {
  margin-top: 20px;
}
@media screen and (max-width: 720px) {
  .features-block .subheader {
    font-size: 3rem;
    line-height: 20px;
  }
}
.features-block .features-contaner {
  padding: 45px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 425px;
  gap: 20px;
}
@media screen and (max-width: 720px) {
  .features-block .features-contaner {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}
.features-block .features-contaner .features-card {
  padding: 15px 35px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-size: 1.8rem;
}
@media screen and (max-width: 720px) {
  .features-block .features-contaner .features-card {
    font-size: 3.2rem;
    padding: 25px 25px;
  }
}
.features-block .features-contaner .features-card .features-card__icon {
  width: 75px;
  height: 75px;
  margin: 10px auto;
  margin-bottom: 25px;
}
.features-block .features-contaner .features-card .features-card__icon img {
  width: 100%;
}
.features-block .features-contaner .features-card .features-card__header {
  font-weight: 700;
  margin: 5px 0;
}
.features-block .features-contaner .features-card .features-card__text {
  color: #555;
}

.mission-block {
  position: relative;
  padding-top: 350px;
  padding-bottom: 132px;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  .mission-block {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.mission-block .container {
  display: flex;
}
@media screen and (max-width: 720px) {
  .mission-block .container {
    flex-flow: column;
  }
}
.mission-block .container .mission-quote {
  position: relative;
  flex: 0 0 622px;
  line-height: 45px;
  font-size: 2rem;
  font-weight: 400;
}
@media screen and (max-width: 720px) {
  .mission-block .container .mission-quote {
    font-size: 2.8rem;
    line-height: 16px;
    flex: 1;
  }
}
.mission-block .container .mission-quote:after {
  content: "";
  position: absolute;
  background-image: url("../images/quote.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50%;
  left: -20px;
  top: -70px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.mission-block .container .mission-person {
  align-self: flex-end;
}
.mission-block .container .mission-person .name {
  padding: 10px;
  display: inline;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 24px;
  border-radius: 4px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}
.mission-block .container .mission-person .desc {
  margin-top: 15px;
  padding: 10px;
  background-color: #FFD200;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  width: 281px;
}
.mission-block .container .mission-person1 {
  position: relative;
  left: 15px;
}
.mission-block .container .mission-person2 {
  position: relative;
  left: 163px;
}
.mission-block .background {
  position: absolute;
  text-transform: uppercase;
  color: #F8F9FB;
  font-size: 25.5rem;
  font-weight: 800;
  z-index: -1;
  line-height: 1;
  left: 20px;
  right: -800px;
  bottom: 265px;
}
@media screen and (max-width: 720px) {
  .mission-block .background {
    bottom: 161px;
  }
}

.results-block {
  padding-top: 45px;
  padding-bottom: 56px;
  background-color: #F8F9FB;
}
.results-block .subheader {
  margin-top: 25px;
  color: #555;
}
.results-block .results-content {
  padding-top: 25px;
}
.results-block .results-content-main {
  padding-bottom: 38px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
@media screen and (max-width: 720px) {
  .results-block .results-content-main {
    grid-template-columns: 1fr;
  }
}
.results-block .results-content-main .results-card {
  background-color: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 28px 18px 20px 18px;
  color: #555;
  line-height: 23px;
  font-size: 2rem;
  font-weight: 400;
}
.results-block .results-content-main .results-card .title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 29px;
  margin-bottom: 20px;
}
.results-block .results-content-main .results-card p {
  margin: 0;
}
.results-block .results-content-main .results-card ol {
  margin: 0;
  padding-left: 22px;
}
.results-block .quotation {
  position: relative;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 30px 20px;
  display: flex;
}
.results-block .quotation:after {
  content: "";
  position: absolute;
  background-image: url("../images/quote.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50%;
  left: 0;
  top: -30px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.results-block .quotation .quotation-text {
  color: #555;
  max-width: 735px;
  font-size: 2rem;
  line-height: 120%;
}
.results-block .quotation .quotation-person {
  align-self: center;
  margin-left: auto;
}
.results-block .quotation .quotation-person .name {
  font-weight: 400;
  font-size: 2rem;
  line-height: 23px;
}
.results-block .quotation .quotation-person .desc {
  opacity: 0.5;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 19px;
}

.faq-block {
  padding-top: 71px;
  padding-bottom: 104px;
}
@media screen and (max-width: 720px) {
  .faq-block {
    padding: 25px 0;
  }
}
.faq-block .faq-accordeon-item {
  background-color: #F8F9FB;
  border-radius: 15px;
  margin: 12px 0;
  padding: 40px 0;
}
@media screen and (max-width: 720px) {
  .faq-block .faq-accordeon-item {
    margin: 18px 0;
    padding: 5px 10px;
  }
}
.faq-block .faq-accordeon-item .head {
  position: relative;
  padding-left: 85px;
  font-size: 2.8rem;
  line-height: 32px;
  font-weight: 600;
}
@media screen and (max-width: 720px) {
  .faq-block .faq-accordeon-item .head {
    padding-left: 30px;
    line-height: 18px;
    font-size: 2;
    display: flex;
    align-items: center;
  }
}
.faq-block .faq-accordeon-item .head:before {
  position: absolute;
  content: "?";
  background-color: #FFD200;
  color: white;
  left: 21px;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 1.4;
}
@media screen and (max-width: 720px) {
  .faq-block .faq-accordeon-item .head:before {
    width: 30px;
    height: 30px;
    line-height: 1.8;
    left: -10px;
  }
}
.faq-block .faq-accordeon-item .accordeon-content {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  padding: 0 85px;
  color: #4B5258;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
}
.faq-block .accordeon-item.active .accordeon-content {
  max-height: 500px;
  transition: max-height 0.4s;
}

.consult-form-block {
  background-color: #FFD200;
  padding-top: 89px;
  padding-bottom: 49px;
}
.consult-form-block .header {
  max-width: 800px;
}
.consult-form-block .subheader {
  max-width: 800px;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 36px;
}
.consult-form-block .form {
  margin-top: 80px;
  display: flex;
  flex-flow: column;
  width: 322px;
}
.consult-form-block .form input {
  padding: 25px 40px;
  margin-bottom: 17px;
  box-shadow: 0px 4px 20px rgba(66, 66, 66, 0.3);
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 400;
}
.consult-form-block .form button {
  padding: 25px 40px;
  box-shadow: 0px 4px 20px rgba(66, 66, 66, 0.3);
  border-radius: 10px;
  background-color: black;
  color: white;
  font-style: italic;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
}
.consult-form-block .form .agreement {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 14px;
  color: #2B2A28;
  margin-top: 7px;
}

.contact-block {
  padding-top: 359px;
  padding-bottom: 103px;
}
.contact-block .header {
  max-width: 600px;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 41px;
}
.contact-block .quick-contacts {
  margin: 16px 0;
  display: flex;
}
.contact-block .quick-contacts .phone .contact-label, .contact-block .quick-contacts .email .contact-label {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 21px;
  margin-bottom: 10px;
}
.contact-block .quick-contacts .phone .contact, .contact-block .quick-contacts .email .contact {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 16px;
}
.contact-block .quick-contacts .email {
  margin-left: 45px;
}
.contact-block .office {
  margin: 30px 0;
}
.contact-block .office .contact-label {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 21px;
  margin-bottom: 10px;
}
.contact-block .office .contact {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 20px;
}
.contact-block .working-time {
  margin: 35px 0;
  margin-bottom: 45px;
}
.contact-block .working-time .office-time {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 20px;
  margin-bottom: 10px;
}
.contact-block .working-time .office-time strong {
  font-weight: 700;
}
.contact-block .working-time p {
  margin-top: 10px;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 20px;
}
.contact-block .free-consultation-btn {
  padding: 20px 30px;
  display: inline-block;
  background-color: #FFD200;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 19px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 22px;
  text-transform: uppercase;
}

.footer {
  background-color: black;
  color: white;
  padding: 35px 0;
}
.footer .container {
  display: flex;
}
@media screen and (max-width: 720px) {
  .footer .container {
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
}
.footer ul {
  display: flex;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 1.2rem;
}
@media screen and (max-width: 720px) {
  .footer ul {
    flex-flow: column;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    gap: 15px;
    margin-bottom: 15px;
  }
}
.footer .copyright {
  margin-left: auto;
  font-size: 1.2rem;
  font-weight: 600;
}
@media screen and (max-width: 720px) {
  .footer .copyright {
    font-size: 3rem;
    margin-left: 0;
  }
}
